:root {
    --left-sidebar_background-color: rgb(33, 33, 33);
    --left-sidebar_text-color: rgb(175, 175, 175);
    --left-sidebar_selection-color: rgb(255, 255, 255);
}

* {
    font-family: courier;
}

#left-sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: -15%;
    background-color: var(--left-sidebar_background-color);
    overflow-x: hidden;
    padding-top: 10px;
    color: var(--left-sidebar_text-color);
}

#left-sidebar_button {
    position: absolute;
    right: 0%;
    top: 2.5%;
    width: 20%;
    cursor: pointer;
    
    border: 1px solid red;
}

#left-sidebar_button p{
    text-align: center;
    font-size: 100%;
}

#left-sidebar_contents {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 85%;
    visibility: hidden;

    border: 1px solid red;
}

.sort-button {
    width: 45%;
    border-radius: 15%;
    background-color: var(--left-sidebar_text-color);
    text-align: center;
    margin: 0 auto;
    color: var(--left-sidebar_background-color);
    font-size: 150%;
    border: 1px solid red;
}

#date-button {
    position: absolute;
    left: 2.5%;
}

#topic-button {
    position: absolute;
    top: 0%;
    left: 52.5%;
}

#left-sidebar_contents hr {
    position: absolute;
    top: 2.5%;
    width: 96%;
}

.navigation-menu {
    visibility: hidden;
    position: absolute;
    height: 95%;
    width: 90%;
    top: 5%;
    left: 5%;
    border: 1px solid red;
}

/*Delete Me*/
#navigation-menu_topic {
    border: 1px solid green;
}



#main-section {
    position: fixed;
    top: 10%;
    right: 2.5%;
    height: 80%;
    width: 90%;
}

#footer-section {
    position: fixed;
    height: 10%;
    width: 90%;
    right: 2.5%;
    top: 90%;
    font-size: 80%;
}

#header-section {
    position: fixed;
    height: 10%;
    width: 90%;
    right: 2.5%;
    top: 0%;
    font-size: 80%;
}

#date {
    height: 5%;
    width: 100%;
    text-align: right;
    z-index: 2;
    top: 0;
    left: 25%;
    overflow-y: hidden;
}

#date p {
    padding: 1% 5% 0% 5%;
    margin: 0% 0% 0% 0%;
}