:root {
    --left-sidebar_background-color: rgb(33, 33, 33);
    --left-sidebar_text-color: rgb(175, 175, 175);
    --left-sidebar_selection-color: rgb(255, 255, 255);
}

* {
    font-family: courier;
}

#left-sidebar {
    position: fixed;
    top: 0%;
    left: -15%;
    height: 100%;
    width: 20%;
    background-color: var(--left-sidebar_background-color);
    color: var(--left-sidebar_text-color);
}

#menu-button {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 5%;
    width: 100%;
    border-radius: 0%;
    border: none;
    text-align: right;
}

#left-sidebar_contents {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 85%;
    visibility: hidden;
}

#selection-buttons .sort-button {
    background-color: var(--left-sidebar_text-color);
    border-radius: 25px;
    border: none;
    padding: none;
    color: var(--left-sidebar_background-color);
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
}

.navigation-menu {
    visibility: hidden;
    height: 95%;
    width: 90%;
    top: 5%;
    left: 5%;
    border: 1px solid red;
}

/*Delete Me*/
#navigation-menu_topic {
    border: 1px solid green;
}

#header-section {
    position: fixed;
    height: 10%;
    width: 90%;
    right: 2.5%;
    top: 0%;
    font-size: 80%;
}

#main-section {
    position: fixed;
    top: 10%;
    right: 2.5%;
    height: 80%;
    width: 90%;
}

#footer-section {
    position: fixed;
    height: 10%;
    width: 90%;
    right: 2.5%;
    top: 90%;
    font-size: 80%;
}