<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title class="heading"></title>
    <link rel="stylesheet" href="../styles.css">
    <script>
      var loc  = document.location.pathname;
      var loc2 = window.location.href;
      console.log(loc);
      console.log(loc2);
    </script>
  </head>
  <body>
  <!-- content starts below here -->
    <script type="text/javascript" src="../menuBarGenerator.js"></script>

    <h1 class="heading"></h1>

    <script type="text/javascript" src="../headingGenerator.js"></script>
    <footer style="text-align: center;">
    </footer>
    <!-- content ends above here -->
  </body>
</html>
