<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title class="heading">This title will be replaced</title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
  <!-- content starts below here -->
    <ul id="menuBar" class="dropdownMenu">
    </ul>

    <script src="../menuBarGenerator.js"></script>

    <h1 class="heading">This heading will be replaced</h1>

    <footer id="vLinks" style="text-align: center;">
    </footer>

    <!-- Javascript imports start below here -->
    <script src="../footerGenerator.js"></script>
    <script src="../headingGenerator.js"></script>
    <!-- Javascript imports end above here -->
  <!-- content ends above here -->
  </body>
</html>
